.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #3b4364;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  .Button1{
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #3b4364;
    border: none;
    border-radius: 15px;
    
  }
  .Button1:hover{background-color:#8e3e3e;
  
  }
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #8e3e3e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }